{
  "zone": "example.com",
  "description": "This file contains DNS attributes.",
  "defaultTtl": 30,
  "records": [
    {
      "name": "text",
      "type": "TXT",
      "ttl": 30,
      "value": "This is a test."
    }
  ]
}